name: C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Fordítás (g++)
      run: g++ -o myapp main.cpp  # Itt add meg a saját fájljaidat

    - name: Futtatás
      run: ./myapp
